@font-face {
  font-family: "iconfont"; /* Project id 2652838 */
  src: url('iconfont.woff2?t=1656852958801') format('woff2'),
       url('iconfont.woff?t=1656852958801') format('woff'),
       url('iconfont.ttf?t=1656852958801') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e747";
}

.icon-xiayu:before {
  content: "\e6bc";
}

.icon-dawutian2:before {
  content: "\e6b5";
}

.icon-taiyang:before {
  content: "\e6b6";
}

.icon-leizhenyu3:before {
  content: "\e6b7";
}

.icon-duoyunyoufeng:before {
  content: "\e6b8";
}

.icon-xiayu2:before {
  content: "\e6b9";
}

.icon-xiaxue:before {
  content: "\e6ba";
}

.icon-yintian:before {
  content: "\e6bb";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-chakan:before {
  content: "\e68a";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-chakan1:before {
  content: "\e642";
}

.icon-xiangxia:before {
  content: "\e600";
}

.icon-liucheng:before {
  content: "\e744";
}

.icon-goujiansaas:before {
  content: "\e7a4";
}

.icon-baiteda:before {
  content: "\e7a5";
}

.icon-xitongjicheng:before {
  content: "\e7a6";
}

.icon-linghuobushu:before {
  content: "\e7a7";
}

.icon-biaodan:before {
  content: "\e7a8";
}

.icon-bi:before {
  content: "\e7a9";
}

.icon-liucheng1:before {
  content: "\e7aa";
}

.icon-yuanshuju:before {
  content: "\e7ab";
}

.icon-bianjiqi:before {
  content: "\e7ac";
}

.icon-gaoxingneng:before {
  content: "\e7ad";
}

